<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   {% load static %}
    <link rel="stylesheet" href="{% static 'Estilos/style_gaaf.css' %}" >

    <title>GAAF</title>
</head>
<!--encabezado/logo-->
<body>

    <!--barra/servicios/buscador/ubicacion/carrito/perfil-->
    {% include "../Complementos/barra_navegacion.html"%}

    
    <!--informacion variable--> 
    <main>
        <section>

            <div class="contenedor_1">
                <div class="parte_1">
                    <p class="texto_3"> Somos Grupo Asesor de Armas de Fuego.</p>
                    <p class="texto_1">Unete a la Comunidad de Tiradores Responsables mas Grande de Mexico y latinoamerica.</p>
                    <p class="texto_2">Asesorias personalizadas instruidas por profesionales en la industria, te ofrecemos todo lo necesario para iniciarte o mentenerte en el mundo de las armas de fuego de una manera responsable, podras acceder a una comunidad de +100,000 tiradores.</p>
                    <a href="./secciones/nosotros.html" type="button" class="boton">Vivir la Experiencia</a>
                </div>
                <div class="parte_2">
                    <picture>
                        <source media="(min-width: 992px)" srcset="club caza.jpg">
                        <source media="(min-width: 768px)" srcset="club caza.jpg">
                        <img src="{% static 'Imagenes/250x350/club caza.jpg' %} " alt="cinegetico">
                    </picture>
                </div>
            </div>                   
        </section>


        <!--concienciacion-->
        <section>
            <div class="contenedor_2">

                    <div>
                        <p class="concienciacion">gaaf la nueva empresa de asesoria en el uso y empleo de armas en mexico.</p>
                    </div>
                    <div>
                        <p class="concienciacion">gaaf apuesta a la concienciación en el uso y empleo de armas de fuego.</p>
                    </div>
                    <div>
                        <p class="concienciacion">la mejor arma es la que no se usa.</p>
                    </div>
            </div>
        </section>

        <!--asesoria profesional-->    
        
        <section>
            <div class="contenedor_3">
                    <div>
                            <img src="{% static 'Imagenes/420/icons8-relámpago-25.png' %} " alt="action">
                            <p>el 90% de nuestros asesorados obtienen resultados favorables.</p>
                            <p>nuestras asesorias estan diseñadas de manera personalizada en la que conoceremos las buenas practicas para el uso y empleo de las armas de fuego.</p>
                    </div>
                    <div>
                            <img src="{% static 'Imagenes/420/icons8-estrella-25.png' %} " alt="action">
                            <p>somos profesionales de la industria.</p>
                            <p>colaboradores altamente capacitados en temas relacionados a la ley federal de armas de fuego.</p> 
                    </div>
            </div>
        </section>   
 
                <!--experiencia-->    
          
        <section >
            <div class="contenedor_4">
                <div>
                    <img src="{% static 'Imagenes/250x350/compra dcam2.jpg' %}" alt="compra">
                </div>
                <div>
                    <p class="texto_1">asesoria personalizada</p>
                    <p class="texto_2">en gaaf queremos que viva una experiencia unica y ser la compañia que lo asesore en todos los temas relacionados con la ley federal de armas de fuego en mexico y su regulación</p>
                    <a href="./secciones/contacto.html" type="button" class="boton">Vivir la Experiencia</a>                
                </div>
            </div>
        </section>
  
        <!--especialista--> 

        <section>
            <div class="contenedor_5">
                <div>
                    <p class="texto_1">pensado en ti</p>
                    <p class="texto_2">gaaf nace de la necesidad de contar con una compañia especializada en diferentes temas relacionados con la ley federal de armas de fuego, donde podras encontrar informacion valiosa para la proteccion de domicilio, legitima defensa, tiro, caceria, portación, transportación y muchos temas mas.</p>                 
                </div>
                <div>
                    <img src="{% static 'Imagenes/250x350/tiro1.jpg' %}" alt="tiro1">
                </div>
            </div>
        </section>   

        <!--3 pal estres--> 

        <section>
            <div class="contenedor_6">
                <div>
                    <img src="{% static 'Imagenes/250x350/tiro2.jpg' %}" alt="posesión">
                    <p class="texto_1">"posesión."</p>
                    <a href="./secciones/contacto.html" type="button" class="boton">Acceder</a>
                </div>

                <div>
                    <img src="{% static 'Imagenes/250x350/portacion de arma 2.jpg' %}" alt="portacion">
                    <p class="texto_1">"portación."</p>
                    <a href="./secciones/contacto.html" type="button" class="boton">acceder</a>
                </div>

                <div>
                    <img src="{% static 'Imagenes/250x350/tiro con escopeta.jpg' %}" alt="transportacion">
                    <p class="texto_1">"transportación."</p>
                    <a href="./secciones/contacto.html" type="button" class="boton">acceder</a>
                </div>
            </div>
        </section>   

        <!--club cinegetico-->   

        <section>
            <div class="contenedor_7">
                <div>
                    <p class="texto_1">club cinegetico</p>
                    <p class="texto_2">En gaaf estamos muy contentos que decida empezar y formarse como deportista. en esta comunidad estrechara lazos de amistad con cazadores y tiradores profesionales de diferentes disciplinas, siempre dispuestos apoyarte para que obtengas los mejores resultados.</p>
                    <a href="./secciones/nosotros.html" type="button" class="boton">Vivir la Experiencia</a>
                </div>
                <div>
                    <img  class="diseño-img" src="{% static 'Imagenes/250x500/recreativo2.jpg' %}" alt="recreativo">
                </div>
            </div>
        </section>  

        <!--valiosa-->    
        <section>
            <div class="contenedor_8">
                <div>
                        <img src="{% static 'Imagenes/420/icons8-símbolo-de-la-luna-25.png' %} " alt="action">
                        <p>contenido exclusivo</p>
                        <p>despeja todas tus dudas, accede a todos los formatos, acceso prioritario y mas!</p>
                </div>
                <div>
                        <img src="{% static 'Imagenes/420/icons8-verano-25.png' %} " alt="action">
                        <p>buenas practicas.</p>
                        <p>en gaaf nos hemos preparado para ofrecerte informacion de calidad.</p> 
                </div>
        </div>
    </section> 
        </section>
</body>




</html>
