<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   {% load static %}
    <link rel="stylesheet" href="{% static 'Estilos/tienda.css' %}" >

    <title>Tienda</title>
</head>
<!--encabezado/logo-->
<body>
    
    <!--barra/servicios/buscador/ubicacion/carrito/perfil-->
    {% include "../Complementos/barra_navegacion.html"%}

    <div class="tienda_a" id="carrito_a">
        <script>
            var cant_productos = 10;
           
            for( let i = 0; i < cant_productos ; i++ ){
            var producto = document.createElement('div');
            producto.setAttribute('class', 'producto');
                producto.innerHTML= `
                
                    <img class="carrito_img" src="{% static 'Imagenes/tienda/audifonos1.jpg' %}" alt="audifonos_1">
              
 
                    <p class="carrito_titulo">audifonos</p>
                    <p class="carrito_precio">precio:1500</p>

                    <button class="boton">Agregar</button>`

            var contenedor = document.getElementById("carrito_a");
            contenedor.appendChild(producto);}
            
        </script>


    </div>
    <div class="tienda_b">
        <did  class="tienda_u" id="carrito_u">
            <script>

            for( i = 0; i < cant_productos ; i++ ){
            var producto_b = document.createElement('div');
            producto_b.setAttribute('class', 'producto_b');
                producto_b.innerHTML= `
                
                    <img class="carrito_img_u" src="{% static 'Imagenes/tienda/audifonos1.jpg' %}" alt="audifonos_1">
              
                    <p class="carrito_titulo_u">audifonos</p>
                    <p class="carrito_precio_U">precio:1500</p>
                    <button class="boton">-</button>
                    <button class="boton">+</button>`

            var contenedor_u = document.getElementById("carrito_u");
            contenedor_u.appendChild(producto_b);}

            </script>
        </did>
        <div class="pago">
            <p>total:</p>
            <button>pagar</button>
        </div>

    </div>
</body>

</html>
